# ======================================================================
# Hugging Face
# ======================================================================

HUGGINGFACE_TOKEN=

# ======================================================================
# OpenAI (for LLM-as-a-Judge evaluation)
# ======================================================================

OPENAI_API_KEY=

# ======================================================================
# Experiment Tracking
# ======================================================================

EXPERIMENT_NAME=
EXPERIMENT_TAG=

# ======================================================================
# Logging
# ======================================================================

LOG_LEVEL=INFO

# ======================================================================
# Training
# ======================================================================

CUDA_VISIBLE_DEVICES=0
PYTORCH_CUDA_ALLOC_CONF=expandable_segments:True

# ======================================================================
# Inference
# ======================================================================

HOST=0.0.0.0
PORT=8000